IndentWidth: 4
AlignConsecutiveAssignments: true
AlignTrailingComments: true
ColumnLimit: 130
AccessModifierOffset: -4
PointerAlignment: Left
CommentPragmas: '^[^ ]'
UseTab: Never
SpaceAfterTemplateKeyword: false
Cpp11BracedListStyle: false
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true